body{
    margin: 0%;
}
.p1{
    color: #40514E;
    font-weight: 900;
    font-size: 25px;
}
h1{
    font-family: 'Pacifico', cursive;
    color:#66BFBF ;
    font-size: 60px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    color:#66BFBF ;
    font-size: 2em;
}
#div-1{
    background-color:#EAF6F6;
}
#img-1{
    display: block;
    position: absolute;
    left: 40%;
    top: 200px;
}
#img-3{
    position: absolute;
    right: 20%;
    top: 100px;
    margin-right: 180px;
}
#img-4{
    margin-top: 50px;
    margin-bottom: 50px;
}
hr{
    border-style: dotted none none none;
    width: 15%;
    border-width: 10px;
    border-color: #c6f8f8;
}
.div-2{
    display: block;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 15px;
}
#img-5{
    width: 200px;
    float: left;
}
#p2{
    color: #40514E;
    font-size: 25px;
    text-align: right;

}
#img-6{
    width: 150px;
    margin-top: 10px;
    float: right;
}
#p3{
    color: #40514E;
    font-size: 30px;
    text-align: left;
}
.button {
    background-color: #6bc1c7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
